body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

p {
    text-align: left;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width=50% padding-left: 5%;
}

.half-width img {
    width=100%
}

.link-button {
    text-decoration: none;
    background-image: linearGradient;
    padding: 10px;
    40px;
    border-redi: 5px;
}